@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.svelte';

@theme {
    --font-sans: 'Nunito', ui-sans-serif, system-ui, sans-serif;
    
    --color-posyandu-primary: #27AE60; /* Soft Green / Tosca */
    --color-posyandu-secondary: #2D9CDB; /* Light Blue */
    --color-posyandu-accent: #f8fafc; /* Light Grey background */
    --color-posyandu-dark: #1E293B; /* Navy for text contrast */
}
